<div class="card-body">
  <div class="form-outline md-12 mb-4 row justify-content-center">
    <img
      src= <%= data.poster %>
      class="img-fluid col-md-5"
      id="preview"
    />

    <div id="table-label" class="col-form-label col-md-5" id="image">
      <div class="border rounded-lg text-center p-1">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <td><%=data.name%></td>
            </tr>
          </thead>
          <thead>
            <tr>
              <th scope="col">Description</th>
              <td>
                <%=data.description%>
              </td>
            </tr>
          </thead>
          <thead>
            <tr>
              <th scope="col">Actors</th>
              <td>
                <%=data.actors%>
              </td>
            </tr>
          </thead>
          <thead>
            <tr>
              <th scope="col">Directors</th>
              <td>
                <%=data.directors%>
              </td>
            </tr>
          </thead>
          <thead>
            <tr>
              <th scope="col">Release Date</th>
              <td><%=data.releaseDate%></td>
            </tr>
          </thead>
          <thead>
            <tr>
              <th scope="col">Duration</th>
              <td><%=data.duration%></td>
            </tr>
          </thead>
          <thead>
            <tr>
              <th scope="col">Genre</th>
              <td><%=data.genre%></td>
            </tr>
          </thead>
          <thead>
            <tr>
              <th scope="col">Restrictions</th>
              <td><img width="50" height="50" src= <%=data.ageRestriction%>></td>
            </tr>
          </thead>
          <thead>
            <tr>
              <th scope="col">Country</th>
              <td><%=data.country%></td>
            </tr>
          </thead>
          <thead>
            <tr>
              <th scope="col">IMBD Score</th>
              <td><%=data.imdbscore%></td>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>
</div>