<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../css/Home_page.css">
<head>
    <meta charset="UTF-8">
    <title>Films page</title>
    <link rel="shortcut icon" href="../images/IMAX-logo.png">
</head>
<body>

    <div class="navbar">
        <a href="\">CLimax</a>
        <a href="\user"style="float: right" href="#profile" class="profile"><i class="fa fa-user-circle-o"></i> Profile</a>
    </div>
    
    <h1 style="margin-left: 45px">In a cinema near you</h1>
    <div class="movie-box">
        <% for(var x=0; x< movies.length; x++) {%> 
        <div class="movie">
            <img src="../Posters/<%=movies[x].poster%>" class="poster" alt="Movie poster">
            </a>
            <div class="description">
                <h2><%=movies[x].movieName%></h2>
                <p>Descirption: <%=movies[x].description%> <br>
                    Release date: <%=movies[x].releaseDate%> <br>
                    Age restriction: <%=movies[x].ageRestriction %> <br>
                    Genre: <%=movies[x].genre%>
                </p>
            </div>
        </div>
        <% } %> 
    </div>
</body>


</html>
