<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../css/Home_page.css">
<head>
    <meta charset="UTF-8">
    <title>Films page</title>
    <link rel="shortcut icon" href="../images/IMAX-logo.png">
</head>
<body>

    <div class="navbar">
        <a href="\">CLimax</a>
        <a href="\user"style="float: right" href="#profile" class="profile"><i class="fa fa-user-circle-o"></i> Profile</a>
    </div>
    
    <h1 style="margin-left: 45px">In a cinema near you</h1>
    <div class="movie-box">
        <% for(var x=0; x<movies.length; x++) {%> 
        <div class="movie">
            <img src="../Posters/Avatar.jpg" class="poster" alt="Movie poster">
            </a>
            <div class="description">
<<<<<<< Updated upstream
                <h2><%=movies[x].movieName%></h2>
                <p>Descirption: <%=data[x].description%> <br>
                    Release date: <%=data[x].releaseDate%> <br>
                    Age restriction: <%=data[x].ageRestriction %> <br>
                    Genre: <%=data[x].genre%>
=======
                <h2><%=data.movieName%></h2>
                <p>Descirption: <%=data.description%> <br>
                    Release date: <%=data.releaseDate%> <br>
                    Age restriction: <%=data.ageRestriction %> <br>
                    Genre: <%=data.genre%>
>>>>>>> Stashed changes
                </p>
            </div>
        </div>
        <% } %> 
    </div>
</body>


</html>
