<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>clIMAX</title>
    <link rel="shortcut icon" href="../images/IMAX-logo.png">
    <link rel="stylesheet" href="../css/Home_page.css">

</head>
<body>

    <div class="navbar">
        <a href="/">clIMAX</a>
        <a href="<%= link %>" style="float: right" class="profile"><i class="fa fa-user-circle-o"></i><%= linkName %></a>
        <form action="search" method="post">
            <input class="SearchBox" type="text" placeholder="Search Movie" name="searchbox" id="searchbox">
        </form>
    </div>
    
    <h1 style="margin-left:60px">Movies available</h1>

    <div id="main">
        <% for(var x=0; x< movies.length; x++) {%> 
        <div>
            <div><a href="/movie?id=<%=movies[x].id%>"><img src="../Posters/<%=movies[x].poster%>" width="272" height="408"></a></div>
            <div class="title">
                <a href="/movie?id=<%=movies[x].id%>"><h3><%=movies[x].movieName%></h3></a>
            </div>
        </div>
        <% } %> 
    </div>

    
    <% for(var i=0; i< genres.length; i++) { %>
        <h1 style="margin-left: 60px"><%= genres[i] %> </h1>
        <div id="main">
          <% for(var x=0; x< movies.length; x++) { %>
            <% if (movies[x].genre == genres[i]) { %>
              <div>
                <div><a href="/movie?id=<%=movies[x].id%>"><img src="../Posters/<%=movies[x].poster%>" width="272" height="408"></a></div>
                <div class="title">
                  <a href="/movie?id=<%=movies[x].id%>"><h3><%=movies[x].movieName%></h3></a>
                </div>
              </div>
            <% } %>
          <% } %> 
        </div>
      <% } %>
      
</body>
</html>