<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>clIMAX</title>
        <link rel="stylesheet" type="text/css" href="../css/Movie_page.css">
        <link rel="stylesheet" type="text/css" href="../css/darkMode.css">
        <link rel="shortcut icon" href="../images/IMAX-logo.png">
    </head>
    <body>
        <ul>
            <li><a href="<%= link %>"><%= linkName %></a></li>
            <li class="home"><a href="/"><img src="../images/logo.png" width="123" height="73"></a></li>
        </ul>
        <h1 id="title" class="title"><%= movieName %></h1>
        <div class="movie-synopsys">
            <div class="movie-info">
                <img id="poster" width="272" height="408" src= <%= poster %>>
                <div id="age-restriction" ><img width="50" height="50" src= <%= ageRestriction %>></div>
                <div>
                    <div>Genre</div>
                    <div id="genre"><%= genre %></div>
                </div>
                <div>
                    <div>Duration</div>
                    <div id="duration"><%= duration %></div>
                </div>
                <div>
                    <div>Country</div>
                    <div id="country"><%= country %></div>
                </div>
                <div>
                    <div>Release Date</div>
                    <div id="releaseDate"><%= releaseDate %></div>
                </div>
                <div>
                    <div>IMDB score</div>
                    <div id="imdbscore"><%= IMDBscore %></div>
                </div>
            </div>
            <div id="description" class="movie-description">
                <h3>Synopsis</h3>
                <p ><%= description %></p>
                <h3>Actors:</h3>
                <p><%= actors %></p>
                <h3>Directors:</h3>
                <p><%= directors %></p>
                <iframe width="800" height="450" src= <%= trailerURL %> frameborder="0"></iframe>
                
            </div>
        </div>
        <div class="reservation">
            <% if (available) {%> 
                <a href="/movie/reservation?id=<%= id %>">Reserve NOW!</a>
            <% } else{ %>
                <a href="">COMING SOON!</a>
            <% } %>
        </div>
    </body>
    <script src="../script/script-reservation.js"></script>
    <script src="../script/script-main.js"></script>
</html>