<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
    <link rel="shortcut icon" href="../images/IMAX-logo.png">
</head>
<link rel="stylesheet" href="../css/user_page.css">
<link rel="stylesheet" href="../css/darkMode.css">
<body>
    <div class="navbar">
        <a href="/">CLimax</a>
        <% if (admincheck) {%> 
        <a href="/admin/add_movie" style="float: right;" id="buttontoadd" >Add Movie</a>
        <% } %> 
    </div>


    <div class="box">
        <h1>Profile Changes</h1>
        <div class="tab">
          <button class="tablinks" onmouseover="openForm(event, 'name')">Personal information</button>
          <button class="tablinks" onmouseover="openForm(event, 'email')">Email</button>
          <button class="tablinks" onmouseover="openForm(event, 'password')">Password</button>
          <button class="tablinks" onmouseover="openForm(event, 'preferences')">Preferences</button>
        </div>

        <!-- Different form sections -->

        <div id="name" class="tabcontent">
          <form id="formname" action="personalChange" method="post">
            <label for="fname">Name: </label>
            <input type="text" id="name" name="name"><br><br>

            <label for="bday">Birthday: </label>
            <input type="date" id="bday" name="bday"><br><br> 

            <label for="number">Number: </label>
            <input type="text" id="number" name="number"><br><br>
      
            <input type="submit" value="Change" id="name_change">
          </form>
        </div>
        <div id="email"  class="tabcontent">
            <form id="formemail" action="email_change" method="post">
              <label for="old_email">Old email: </label>
              <input type="email" id="old_email" name="old_email" required><br><br>
              <label for="new_email">New email: </label>
              <input type="email" id="new_email" name="new_email" required><br><br> 
          
              <input type="submit" value="Change" id="email_change">
            </form>
          </div>
        <div id="password" class="tabcontent">
          <form id="formpass" method="post" action="password_change">
            <label for="oldpassword">Old password: </label>
            <input type="password" id="oldpassword" name="oldpassword" required><br><br>
            <label for="newpassword">New password: </label>
            <input type="password" id="newpassword" name="newpassword" required><br><br>
            <label for="passwordrep">Retype password: </label>
            <input type="password" id="passwordrep" name="passwordrep" required><br><br>
            <input type="submit" value="Change" id="password_change">
          </form>
        </div>   
        <div id="preferences" class="tabcontent">
          <form id="formpref" method="post" action="preferences">
            <label for="darkMode"> Toggle Dark/Light Mode : </label>
            <% if (userPreferences!==null) {%> 
              <% if(userPreferences.darkMode==="on"){%>
                  <input type="checkbox" id="darkMode" name="darkMode" checked><br><br>
              <% } else{%>
                  <input type="checkbox" id="darkMode" name="darkMode" ><br><br>
              <% } %>
            <% } else {%>
              <input type="checkbox" id="darkMode" name="darkMode"><br><br>
            <% } %>


            <% if (admincheck) {%> 
              <label for="showAll">Show all movies in time table selector: </label>
              <% if (userPreferences!==null) {%> 
                <% if(userPreferences.showAll==="on"){%>
                    <input type="checkbox" id="showAll" name="showAll" checked><br><br>
                <% } else{%>
                    <input type="checkbox" id="showAll" name="showAll" ><br><br>
                <% } %>
              <% } else {%>
                  <input type="checkbox" id="showAll" name="showAll" ><br><br>
              <% } %>
            <% } %> 
            <input type="submit" value="Change" id="preferences">
          </form>
        </div>   
      </div>
   


      <form method="post" action="logOut" class="logoutButton">
        <input type="submit" name="Logout" value="Logout">
      </form>
      
        <!--Movies Reserved -->

<div class="box" style="width: 1000px; margin-left: 200px;height: auto" >
    <h1> Movies reserved</h1>
    <div class="reservations">
      <% for(var x=0; x< reservs.length; x++) {%> 
        <form method="post" action="/removeReserv">
          <div class="reservation">
            <!--Inputs to be able to delete a reservation-->
            <input type="hidden" name="title" value="<%= reservs[x].movieName %>">
            <input type="hidden" name="hour" value="<%= reservs[x].Hour %>">
            <input type="hidden" name="date" value="<%= reservs[x].Day %>">
            <input type="hidden" name="hall" value="<%= reservs[x].HallNumber %>">
            <input type="hidden" name="seat" value="<%= reservs[x].SeatNumber %>">

            <!--Reservation visible-->
            <div class="movie-title" ><%= reservs[x].movieName %> </div>
            <div class="time">Hour: <%= reservs[x].Hour %> </div>
            <div class="date">Day: <%=reservs[x].Day%> </div>
            <div class="hall">Hall Number: <%= reservs[x].HallNumber %> </div>
            <div class="seat">Seat Number: <%= reservs[x].SeatNumber %> </div>
            <input type="submit" name="Remove" value="Remove">
          </div>
        </form>

      <% } %> 
    </div>
</div>

<script src="../script/script-user-page.js"></script>
</body>
  <script>
      var alertMessage = "<%= alerting %>";
      window.addEventListener("load", function() {
      if (alertMessage) {
        alert(alertMessage);
      }
    });
  </script>

</html>
